#app {
    width: 100%;
}

body {
    background-image: linear-gradient(119deg, rgba(55, 112, 163, 0.6),
    rgba(85, 99, 112, 0.6)
    ), url("../imgs/background_layer.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    /* justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden; */
    height: 100vh;

    .sm-icons {
        width: 10px;
    }

    .md-icons {
        width: 22px;
    }
}

/* @media screen and (max-width: 1200px) {
    #brand-col {
        z-index: 0;
        
        .app-title {
            position: relative;
            top: 35px;
        }

        .app-branding {
            margin-left: 5rem;
            border-radius: 20px;
        }
    }

    #sign-in-col {
        z-index: 1;
        padding: 2rem;
        margin-top: 10px;
        background: #FFFFFF;
        box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        width: 395px;
        display: block;
        position: absolute;
        top: 240px;
    }
} */

@media screen and (max-width: 1200px) {
    .container{
        max-width: 100%;

            #brand-col {
            z-index: 0;
            top: -125px;
            position: relative;
            
            .app-title {
                position: relative;
                top: 35px;
            }

            .app-branding {
                margin-left: 5rem;
                border-radius: 20px;
            }
        }

        #sign-in-col {
            z-index: 1;
            padding: 2rem;
            margin-top: 10px;
            background: #FFFFFF;
            box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.08);
            border-radius: 20px;
            width: 395px;
            display: block;
            position: absolute;
            top: 115px;
        }
    }
    
}

@media screen and (max-width: 2080px) {
    .container{
        max-width: 100%;

            /* #brand-col {
            z-index: 0;
            top: -125px;
            position: relative;
            
            .app-title {
                position: relative;
                top: 35px;
            }

            .app-branding {
                margin-left: 5rem;
                border-radius: 20px;
            }
        } */

        #sign-in-col {
            z-index: 1;
            padding: 2rem;
            margin-top: 10px;
            background: #FFFFFF;
            box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.08);
            border-radius: 20px;
            width: 395px;
            display: block;
            position: absolute;
            top: 115px;
            left: 50%;


            @media screen and (max-width: 1200px) { 
                left: 25%;
            }
        }
    }
    
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    margin-top: auto;
    max-width: 100%;

    .sign-in-form,
    .forgot-pwd-form,
    .mail-verification-form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;

        .code-container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;

            .code-input {
                opacity: .5;
                font-size: 25px;
                width: 40px;
                margin: 10px;
            }
        }
    }
}

.container h5 {
    font-weight: 600;
    margin: auto;
    padding-bottom: 1rem;
}

.container h4 {
    font-weight: 600;
    margin: auto;
    margin-bottom: 5px;
}

#sign-in-col {
    padding: 2rem;
    margin-top: 10px;
    background: #FFFFFF;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    width: 395px;

    .btn-google {
        color: #545454;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 1px #ddd;
        padding: 9px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        font-weight: 500;
    }

    .divider {
        color: #556370;
        opacity: .125;
        width: 140px;
    }

    .line-divider {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        margin: 4px;
    }

    .required {
        color: #C12300;
    }

    .form-group {
        margin-bottom: 1rem;

        .form-label {
            font-size: 14px;
        }

        .form-control {
            height: 44px;
            border-radius: 8px;
        }

        .password-align {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;
        }

        .form-input-icons {
            color: #A1A2A4;
            float: right;
            position: relative;
            top: -1.8rem;
            right: 14px;
            opacity: .5;
        }

        .form-input-icons:hover {
            cursor: pointer;
        }

        .text-muted {
            margin-top: 5px;
            padding-top: 5px;
        }

        #sign-in-fpwd {
            cursor: pointer;
            margin-top: 6px;
            padding-top: 6px;
        }
    }
    
    .form-check {
        margin-bottom: 5px;
        padding-bottom: 5px;

        .form-check-label {
            display: flex;
            font-size: 14px;
            margin-bottom: 5px;
            padding-bottom: 5px;
        }
    }

    .text-signup {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
        padding-top: 10px;
    }

    .btn-primary {
        border-radius: 25px;
        height: 44px;
        margin: 5px 0px 15px 0px;
    }

    .forgot-pwd-icon {
        margin: 0.5rem;
        padding: 0.5rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .text-forgot-pwd {
        opacity: .8;
        font-size: 16px;
        width: 235px;
        margin: auto;
        padding: 4px 4px 20px 4px;
        text-align: center;
    }

    .text-new-pwd {
        opacity: .8;
        font-size: 16px;
        width: 280px;
        margin: auto;
        padding: 4px 4px 20px 4px;
        text-align: center;
    }

    .text-mail-vc {
        opacity: .8;
        font-size: 16px;
        width: 240px;
        margin: auto;
        padding: 4px 4px 20px 4px;
        text-align: center;
    }

    .text-mail-vfd {
        opacity: .8;
        font-size: 16px;
        width: 290px;
        margin: auto;
        padding: 4px 4px 20px 4px;
        text-align: center;
    }

    .text-return {
        cursor: pointer;
        margin: auto;
        padding: 1rem;
        color: #475467;
    }

    .text-resend {
        font-weight: 500;
        width: auto;

        > a {
            margin: auto 36% 1rem auto;
            width: 92px;
        }
    }
}

#sign-in-col a {
    text-decoration: none;
    float: right;
}

.divider {
    width: 250px;
}

#brand-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: -12px;

    .app-title {
        margin: 30px;
        /* margin: 35px 0px 0px 0px; */
        /* padding: 2rem; */

        .label-force-logo {
            width: 40vh;
        }
    }

    .app-branding {
        background-color: #292C33;
        width: 670px;
        border-radius: 0px 50px 0px 0px;
        /* margin-top: 25px; */
        width: 35vw;
        min-width: 395px;
        background-image: linear-gradient(119deg, rgba(55, 112, 163, 0.6),
        rgba(85, 99, 112, 0.6));
        opacity: .65;
     }

    .app-branding .branding-img {
        max-width: 100%;
        max-height: 100%;
        width: 90vh;
        padding: 5px 20px 0px 0px;

        /* vertical-align: middle;
        -webkit-filter: grayscale(100%) contrast(0.9);
        -moz-filter: grayscale(100%) contrast(0.9); */
        filter: grayscale(90%) contrast(90%) sepia(55%) saturate(100%) hue-rotate(168deg) brightness(88%);
        /* filter: grayscale(10) brightness(0) saturate(100%) invert(40%) sepia(15%) saturate(543%) hue-rotate(168deg) brightness(88%) contrast(87%); */
        /* filter: brightness(0) saturate(100%) invert(40%) sepia(15%) saturate(543%) hue-rotate(168deg) brightness(88%) contrast(87%); */
     }

     /* .app-branding .branding-img::before {
        background-image: linear-gradient(45deg, darken(#13abdb,5%), #B10DC9);
     } */

     /* .app-branding::before {
        background-image: linear-gradient(119deg, rgba(55, 112, 163, 0.6),
        rgba(85, 99, 112, 0.6));
     } */
}